.quiz-container {
    text-align: center;
    font-family: Arial, sans-serif;
}

.quiz-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
}

.question-section {
    margin-bottom: 20px;
}

.image-container img {
    max-width: 100%;
    height: auto;
}

.answers-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 20px;
}

.answer-button {
    width: 45%;
    margin: 10px;
    padding: 20px;
    font-size: 18px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.answer-1 {
    background-color: #ff4b4b;
}

.answer-2 {
    background-color: #4b7bff;
}

.answer-3 {
    background-color: #ffb84b;
}

.answer-4 {
    background-color: #4bff4b;
}

.answer-button:hover {
    opacity: 0.8;
}

.explanation-section {
    margin-bottom: 20px;
    text-align: center !important;
    width: 80%;
}

.explanation-section h3 {
    margin-top: 10px;
    text-align: center !important;
}

.explanation-section p {
    margin: 5px 0;
    text-align: center !important;
}

.navigation {
    display: flex;
    justify-content: space-between;
    width: 80%;
}

.navigation button {
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.navigation button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

.navigation button:not(:disabled):hover {
    background-color: #007bff;
    color: white;
}